@import url('./global.css');

section {
  padding: 0 4%;
}

.title {
  padding: 2rem 0 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--purple);
}

.title span {
  color: var(--dark);
}

/***********************************/
/********* Hero Section ************/
/***********************************/

.hero {
  min-height: 100vh;
  background: var(--light);
  transition: all 0.4s ease;
  border-radius: 0 0 60px 0;
}

nav {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  font-size: 0.8rem;
}

.brand {
  font-size: 1rem;
  font-weight: 600;
  color: var(--purple);
}

.nav-links {
  text-decoration: none;
  color: var(--dark);
  top: 0.4rem;
  padding: 0.2rem 0.5rem;
  transition: all 0.4s ease;
  position: relative;
}

.nav-links:hover {
  color : var(--purple);
  font-weight: 600;
}

.nav-links::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 80%;
  background-color: var(--light);
  display: inline-block;
  margin-top: -0.8rem;
  left: calc(50% - 3px);
  transition: all 0.4s ease;
}

.nav-links:hover::before{
  background-color: var(--purple);
}

/******** Floating Circles *********/

.circle1 {
  left: calc(50% - 130px);
  top: calc(50% - 130px);
  position: absolute;
  padding: 130px;
  border-radius: 50%;
  background: var(--metal);
  background: linear-gradient(135deg, var(--light) 25%, var(--metal) 100%);
  transition: all 0.4s ease;
}

.circle2 {
  position: absolute;
  top: 75%;
  left: 10%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: var(--metal);
  background: linear-gradient(135deg, var(--light) 25%, var(--metal) 100%);
}

.circle3 {
  position: absolute;
  top: 12%;
  left: calc(20% - 20px);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--metal);
  background: linear-gradient(135deg, var(--light) 25%, var(--metal) 100%);
}

.circle4 {
  position: absolute;
  top: 15%;
  right: 10%;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  border-radius: 50%;
  background: var(--metal);
  background: linear-gradient(135deg, var(--light) 25%, var(--metal) 100%);
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--white);
}

/******* Name and description tags *******/

.intro {
  position: absolute;
  top: 28%;
  width: 200px;
  padding: 0.8rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--shadow);
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--purple);
}

.intro span {
  font-size: 0.8rem;
  display: inline-block;
  color: var(--dark)
}

.desc {
  position: absolute;
  top: 65%;
  right: 4%;
  width: 200px;
  padding: 0.8rem;
  text-align: center;
  font-size: 0.9rem;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: var(--shadow);
}

/***********************************/
/******** About Section ************/
/***********************************/

.about {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.about-flex {
  flex-grow: 2;
}

.about-flex span {
  color: var(--purple);
  font-weight: 500;
}

.avatar {
  width: 40%;
  max-width: 360px;
  min-width: 200px;
  margin: 1rem auto;
  border-radius: 12px;
}

.about-text {
  font-size: 0.85rem;
  font-weight: 300;
  width: 80%;
  max-width: 360px;
  min-width: 230px;
  margin: 0.5rem auto;
  line-height: 1.8;
}


/**************************************/
/******** Projects section ************/
/**************************************/

.project {
  height: 100vh;
  border-radius: 60px 0 60px 0;
  background-color: var(--light);
}

/************************************/
/******** Resume section ************/
/************************************/

.resume {
  height: 100vh;
}

.skills-flex {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  margin: 0.5rem;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}

.skill svg {
  height:50px;
  width: 50px;
}

.cpp {
  background-color: #ffeeee;
}

.js {
  background-color: #ffffe0;
}

/***********************************/
/******** Media Queries ************/
/***********************************/

@media (min-width: 480px){
  .circle1 {
    padding: 150px
  }
}

@media (min-width: 768px){
  section {
    padding: 0 12%;
  }

  .circle1 {
    left: calc(50% - 180px);
    top: calc(50% - 180px);
    padding: 180px;
  }

  .intro {
    left: calc(50% - 250px);
  }

  .desc {
    right: calc(50% - 250px)
  }

  .about-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
  }
}